* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #e31d3c;
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
}

.App {
  width: 95%;
  margin: 2rem auto;
  border: 0.2rem solid black;
}

.App-header {
  width: 100%;
  display: flex;
  justify-content: right;
}

.App_footer {
  width: 100%;
  box-sizing: border-box;
}

.App_footer img {
  width: 100%;
  height: auto;
  display: block;
}

.home_logo {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  right: 0;
  margin: 1rem 2rem 1rem 0rem;
}

@media only screen and (min-width: 1025px) {
  .home_logo {
    margin: 2rem;
  }

  .App {
    width: 60%;
  }
}
