.input-container {
  display: flex;
  height: 4rem;
  position: relative;
  width: 100%;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .gender_title:before {
  background-color: #e31d3c;
}

.input-container label {
  display: none;
}

.input {
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  box-sizing: border-box;
  color: #000000;
  font-size: 1.2rem;
  height: 100%;
  width: 100%;
  outline: 0;
  padding: 4px 20px 0;
}
