.form_title {
  margin: 0rem 0rem 2rem 0rem;
}

.form_oblique_text {
  font-style: oblique;
}

.flex {
  display: flex;
  align-self: end;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6rem;
  row-gap: 1rem;
}

.form_double {
  grid-column: span 2;
}

.form_container {
  padding: 0rem 2rem 0rem 2rem;
}

.button_submit {
  padding: 1rem;
  margin: 2rem 0rem;
  border-radius: 0.35rem;
  background-color: #e31d3c;
  color: white;
  width: 35%;
  font-size: 2rem;
  cursor: pointer;
}

.button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gender_title {
  font-weight: 700;
  margin: 0rem 1rem 0.5rem 0rem;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.gender_title:before {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  border: 3px solid red;
  border-radius: 50%;
  margin-right: 0.25rem;
}

#actions {
  margin-right: 0.5rem;
}

.fa-circle-xmark {
  margin-left: 0.5rem;
  cursor: pointer;
  color: red;
  font-size: 3rem;
}

.fa-circle-check {
  margin-left: 0.5rem;
  color: green;
  font-size: 3rem;
}

/* styling of form_radiobutton */

.form_radiobutton {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .form_radiobutton {
  background-color: #ccc;
}

.container input:checked ~ .form_radiobutton {
  background-color: #e31d3c;
}

.form_radiobutton:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .form_radiobutton:after {
  display: block;
}

.container .form_radiobutton:after {
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* styling of checkbox */

.container {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.container input {
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #e31d3c;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Error Styling */

.input.error {
  border: 2px solid red;
  animation: shake 0.3 ease;
}

.error_message {
  color: red;
  font-size: 1rem;
}

.clear-icon {
  margin-top: 0.5rem;
}

@media only screen and (min-width: 1025px) {
  .form_container {
    padding: 2rem;
  }
}
